
@using MFAE.Jobs.Web.Areas.App.Models.Common.Modals
@using MFAE.Jobs.Web.Areas.App.Models.AttachmentTypeGroups
@model AttachmentTypeGroupViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="AttachmentTypeGroupInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("ArName") :</h6>
                @Model.AttachmentTypeGroup.ArName
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EnName") :</h6>
                @Model.AttachmentTypeGroup.EnName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")